.title-navbar {
  all: unset;
  cursor: pointer;
  border-bottom: 2px solid var(--gray);
  padding: 0 3rem;
  color: var(--gray);
  font-weight: 600;
}
.selectedTitle {
  border-bottom: 2px solid var(--red);
  color: var(--red);
}
