.type-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.type-icon-detail {
  width: 0.8rem;
}
