.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #99c391;
  color: #f0fdee;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.15),
    0 0.375rem 0.75rem rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  width: 21rem;
  height: 12.5rem;
}

.image-container {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
}
